@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Poppins:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


  
  body {
    background-color: #EFEFEF;
    color: black;
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
  }
  