.mainbg{
    background-image: url('../public/assets/pbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center; 
   
}